<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../partials/head'); %>
</head>

<body class="d-flex flex-column justify-content-center align-items-center p-5">

  <div class="container text-center">
    <%- include('../partials/navbar'); %>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-capitalize">Product Cart</h1>
    <% if (typeof message.main.cart == 'object') { %>
      <p>Cart id: <%= message.main.cart._id %></p>
    <%} else { %>
      <h3>Cart empty</h3>
    <% } %>
  </div> 
  <div class="p-5 w-100 d-flex flex-column justify-content-center align-items-center">
    <div class="row w-75">
      <% if (typeof message.main.cart == 'object' && typeof message.main.cart.products == 'object') { %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            
          </tr>
        </thead>
        <tbody>
          
            <% message.main.cart.products.forEach(function(item, index) { %>
              <tr>
                <th scope="row"><%= index %></th>
                <td><%= item.name %></td>
                <td><%= item.description %></td>
                <td><%= item.price %></td>
                <th> <button class="fa fa-trash" aria-hidden="true"></button></th>
              </tr>
            <% }); %>
          
        </tbody>
      </table>
      <form action= <%=`/api/cart/buyCart/${message.main.cart._id}` %> method="POST" class="w-50"> 
        <button type="submit" class="btn btn-primary">Buy Cart</button>
      </form>
      <% }; %>
      </div>
  </div>
  
 
</body>
</html>